/* fonts.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.site-container{
    font-family: 'Poppins', sans-serif;
  }
  .site-content{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
  }
  .site-footer{
    font-family: 'Poppins', sans-serif;
  }